
<section class="mdash-container">
  <div class="card">
    <h3>Last migration date</h3>
    {{ last_migration }}
  </div>

  <div class="card">
    <h3>Total Group relationships</h3>
    {{ group_relationships }}
  </div>

  <div class="card">
    <h3>Total null destination nodes</h3>
    {{ null_destination_nodes }}
  </div>
</section>

<section class="mdash-container">
  <div class="card">
    <h3>Content summary</h3>
    {{ content_summary }}
  </div>

  <div class="card">
    <h3>Error summary</h3>
    {{ error_summary }}
  </div>

  <div class="card">
    <h3>Relationship summary</h3>
    {{ relationship_summary }}
  </div>
</section>
